// FONTS
$primary-font: 'DM Sans', sans-serif;
$tittle-font: 'Lexend Deca', sans-serif;
$subtittle-font: 'Open Sans', sans-serif;


//COLORS

$yellow: #F8C000;
$red: #DC3C4D;
$blue: #004A98;
$orange: #F4592F;
$white: #FFFFFF;
$black: #000000;
$lightGray: #9cafc3;
$backgroundDark: #37383c;
$backgroundBlack: #222326;
$purpleTransparency: rgba(87, 46, 229, 0.6);

$transition: 0.3s ease-in-out;