.aboutus__container {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 1rem;
    background-color: $white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aboutus__title{
    padding: 3rem;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .aboutus__title h1 {
    color: $orange;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }

  .button__contact {
    width: 50%;
    height: 48px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $blue;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    color: $white;
    border-radius: 24px;
}
  
  
  aside {
    padding: 3rem;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  aside h3 {
    color: $orange;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  aside p {
    color: $black;
    letter-spacing: 0px;
    line-height: 2rem;
    font-size: 1rem;
    text-align: justify;
  }
  
  