footer {
    position: relative;
    width: 75%;
    padding: 1rem;
    margin: auto;
    background-color: $white;
    position: relative;
    display: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    color:$backgroundBlack;
    font-family: $tittle-font;
}