.header__container {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 1rem;
    background-color: $red;
}

.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 3rem;
    margin-left: 3rem;
}

.menu li {
    font-size: 1rem;
}

.menu li:hover a {
    color: $white;
}

.menu a {
    color: $yellow;
    text-decoration: none;
}