.sucursales__container {
	width: 100%;
	height: 150vh;
	background-image: url('../images/gato.png');
	background-size: cover;
	background-position: relative;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;

	h1 {
		color: $red;
		text-align: center;
		margin: 1rem auto 1rem auto;
	}

	h2 {
		color: $backgroundDark;
		text-align: center;
		width: 50%;
		margin: 1rem auto 1rem auto;
	}
}

.sucursal__info {
	width: 100%;
	height: auto;
	background-color: $red;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;

	h2 {
		color: $yellow;
		text-align: justify;
		margin: 1rem auto 1rem auto;
	}

	h4 {
		color: $white; 
		text-align: justify;
		margin: 0 auto 1rem auto;
		font-family: $tittle-font;
		font-size: 1.3rem;
		font-weight: 700;
	}

	p {
		color: $white;
		line-height: 2rem;
		text-align: justify;
		width: 50%;
		margin: 1rem auto 1rem auto;
	}
}