<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#DC3C4D" />
  <!--  icon  -->
  <link rel="icon" th:href="@{/images/icon.svg}" />
  <!--  fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <!--  styles  -->
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
  <title>Consejos de Salud</title>
</head>

<body>
  <header th:replace="~{layouts/header :: header}"></header>
  <main>
    <div class="container mt-4 card">
      <div class="container mt-4 mb-1  ">
        <img th:src="@{/images/advice.png}" alt="icono nueva sucursal" class="mx-auto d-block" />
      </div>
      <h2 class="text-center product__Title display-6 mt-1 mb-4">Consejos de salud</h2>
      <div class="row row-cols-1 row-cols-md-2">
        <div th:each="conse : ${consejos}" class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title mb-3" th:text="${conse.titulo}"></h5>
              <p class="card-text"><strong>Código:</strong> <span th:text="${conse.codigo}"></span></p>
              <p class="card-text"><strong>Descripción:</strong> <span th:text="${conse.descripcion}"></span></p>
              <p class="card-text"><strong>Autor:</strong> <span th:text="${conse.autor}"></span></p>
              <p class="card-text"><strong>Fecha:</strong> <span th:text="${conse.fecha}"></span></p>
              <div class="text-center">
                <a th:href="@{/consejo/modificar/}+${conse.titulo}" class="btn btn-primary me-2">EDITAR</a>
                <a th:href="@{/consejo/eliminar/}+${conse.titulo}" class="btn btn-danger">ELIMINAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="aboutus__title mt-4">
        <h2 class="text-center product__Title display-6 mb-5">Nuevo Consejo</h2>
        <div class="text-center">
          <a th:href="@{/consejo/nuevo}" class="btn btn-primary">AGREGAR ➝</a>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{layouts/footer :: footer}"></footer>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
