<!DOCTYPE html>
<html lang= "es">
<head>
<meta charset="utf-8">
<title>Consejos de Salud</title>
</head>
<body>
	<header>
		<h1>Consejos de salud para nuestras mascotas</h1>
		<h2>A continuacion brindamos unos cuantos consejos tanto de salud mental emocional y fisica para nuestras mascotas</h2>
		<img alt="Imagen decorativa de perritos" src="static/images/segurmania_mascotas_destacada.jpg">
		<h2>
			<ul>
				<li> 1_ Visita regularmente al veterinario: <hp>Es importante que lleves a tu 
					mascota a chequeos regulares para asegurarte de que está en buena salud y detectar 
					cualquier problema a tiempo.</p></li>
				
				<li> 2_ Mantén el peso adecuado: <p>El sobrepeso y la obesidad pueden causar una 
					serie de problemas de salud en las mascotas, como diabetes, problemas de 
					articulaciones y enfermedades del corazón. Asegúrate de que tu mascota tenga una 
					dieta equilibrada y realiza suficiente actividad física.</p></li>
				
				<li> 3_ Vacuna a tu mascota!!: <p>Las vacunas son una parte importante del cuidado 
					preventivo de la salud de tu mascota. Asegúrate de mantener al día el calendario 
					de vacunación de tu mascota.</p></li>
				
				<li> 4_ Proporciona una alimentación saludable!!: <p>La alimentación de tu mascota 
					debe ser balanceada y adecuada para su edad, tamaño y necesidades nutricionales. 
					Consulta con un veterinario para obtener recomendaciones específicas.</p></li>
				
				<li> 5_ Ejercicio diario!!: <p>El ejercicio es importante para mantener a tu mascota 
					en buena forma física y mental. Asegúrate de proporcionar suficiente actividad 
					diaria para mantener a tu mascota sana y feliz</p></li>
				
				<li> 6_ Mantén una buena higiene!!: <p>Mantener una buena higiene es fundamental 
					para la salud de tu mascota. Baña a tu mascota regularmente y cepilla su 
					pelaje para evitar problemas de piel y para reducir la cantidad de pelo que 
					ingiere cuando se lame.</p></li>
				
				<li> 7_ Control de parásitos!!: <p>Las pulgas, garrapatas, gusanos y otros parásitos
					 pueden causar problemas de salud graves en las mascotas. Asegúrate de utilizar 
					 productos adecuados y seguir las instrucciones del veterinario para prevenir 
					 y controlar los parásitos.</p></li>
				
				<li> 8_ Proporciona agua fresca!!: <p>Tu mascota debe tener acceso constante a agua 
					fresca y limpia para mantenerse hidratada y saludable.</p></li>
				
				<li> 9_ Mantén la dentadura de tu mascota limpia!!: <p>Los problemas dentales pueden 
					ser una causa de dolor y enfermedad en las mascotas. Asegúrate de proporcionar 
					una dieta adecuada y cepillar regularmente sus dientes para prevenir problemas 
					dentales.</p></li>
				
				<li>10_ Proporciona un ambiente seguro!!: <p>Asegúrate de que tu mascota esté segura 
					en su entorno. Evita exponerla a sustancias tóxicas, asegúrate de que no tenga 
					acceso a objetos peligrosos, y mantén la casa limpia y libre de objetos que puedan 
					causar accidentes.</p></li>
			</ul>
		</h2>
		<img alt="Consejos" src="static/images/Recuadro-Consejos-web.jpg">
		<h2>
			Si deseas consultar o comunicarte te dejamos un numero de consultas para poder contactarte en caso de alguna emergencia, o alguna duda particular que tengas. Te responderan las personas mas capacitadas para comentar que ocurre con tu amada mascota!
			<h1> 3874064403</h1>
		</h2>
	</header>
</body>
</html>