<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="utf-8">
   <!--  icon  -->
   <link rel="icon" href="static/images/icon.svg" />
   <!--  fonts  -->
   <link href="https://fonts.cdnfonts.com/css/kollektif" rel="stylesheet" />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet" />

   <!--  styles  -->
   <link rel="stylesheet" href="static/css/estilos.css" />
   <title>Insert title here</title>
</head>

<body>
   <div>

      <h1>Contactanos</h1>
      <p>Av Senador Perez n 1234, Numero de contacto: 3885178176</p>
      <P>Abierto de :</P>
      <p>Lunes a viernes de 9:00 hs a 12:30 hs y de 17:00 hs a 21:00 hs</p>
      <p>Sabados 9:00 hs a 12:00 hs</p>
      <a href="animalada@gmail.com">animalada@gmail.com </a><br>


      <ul>

         <li><a href="facebook">facebook</a></li>
         <li><a href="instagram">instagram</a></li>
         <li><a href="twiter">twiter</a></li>

      </ul>
   </div>


   <form action=""></form>
   <label>Nombre: </label><br>
   <input type="text" placeholder="escribir nombre"> <br>

   <label for="">Email: </label><br>
   <input type="text" placeholder="escribir email"> <br>

   <label for="">Cuidad :</label><br>
   <input type="email" placeholder="escribir cuidad"> <br><br>

   <textarea name="Message" rows="8" cols="35"></textarea><br>
   <label>mensaje</label><br><br>
   <input type="submit"> <br>


</body>

</html>