<!DOCTYPE html>
<html lang="es">
  <title>Animalada - Tienda de Mascota</title>

  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#DC3C4D" />
    <!--  icon  -->
    <link rel="icon" href="static/images/icon.svg" />
    <!--  fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!--  styles  -->
    <link rel="stylesheet" href="static/css/estilos.css" />
  </head>

  <body>
    <header class="header__container">
      <nav class="menu">
        <ul>
          <li><a href="index.html">INICIO</a></li>
          <li><a href="productos.html">PRODUCTOS</a></li>
          <li><a href="consejos.html">CONSEJOS DE SALUD</a></li>
          <li><a href="servicio.html">SERVICIOS DE PASEOS</a></li>
          <li><a href="sucursales.html">SUCURSALES</a></li>
          <li><a href="contactanos.html">CONTACTO</a></li>
        </ul>
      </nav>
    </header>

    <!-- main -->
    <div class="topContainers">
      <!-- hero -->
      <section class="heading__container">
        <div class="tittle__container">
          <img
            src="static/images/icon.svg"
            alt="Imagen de la Tienda de Mascota"
            title="Logo Animalada"
          />
          <h1>animalada</h1>
          <h2>TIENDA DE MASCOTA</h2>
          <a href="productos.html" class="button__product">PRODUCTOS➝</a>
        </div>
      </section>
    </div>

    <section class="welcome__container" id="Bienvenidos">
      <div class="text__container">
        <h2>¡bienvenidos a animalada!</h2>
        <article>
          <h3>nuestros servicios</h3>
          <p>
            Bienvenidos a Animalada, la tienda de mascotas donde encontrarás
            todo lo que necesitas para consentir y cuidar a tus amigos peludos.
            Ofrecemos servicios de paseos, peluquería y cuidados especiales, y
            contamos con varias sucursales en la ciudad para tu comodidad. En
            Animaladas, creemos que tus mascotas merecen lo mejor, por eso
            trabajamos cada día para ofrecerte productos y servicios de alta
            calidad y atención cercana y amigable. ¡Te esperamos para hacer de
            la vida de tus mascotas una verdadera fiesta de diversión y amor!
          </p>
        </article>
        <article>
          <h3>¡conoce más sobre animaladas!</h3>
          <p>
            En Animalada somos un equipo apasionado por los animales,
            comprometido en ofrecerte los mejores productos y servicios para el
            cuidado y diversión de tus mascotas. Contamos con expertos en cada
            una de nuestras sucursales, quienes te brindarán atención cercana y
            amigable para que tengas la mejor experiencia en Animalada. ¡Gracias
            por confiar en nosotros para cuidar de tus amigos peludos!
          </p>
        </article>
      </div>
      <div class="img__cat">
        <img src="static/images/gato.png" alt="gato mmirando para arriba" />
      </div>
    </section>
    <div class="aboutus__container">
      <div class="aboutus__title">
        <h1>conocé más</h1>
        <a href="contactanos.html" class="button__contact">CONTACTANOS➝</a>
      </div>
      <aside>
        <h3>¡Conoce nuestro gran equipo!</h3>
        <p>
          En Animalada, nuestra empresa fundada por Conrado, Martin, Raúl e
          Ingrid, trabajamos juntos para ofrecerte los mejores servicios para
          tus mascotas. Ingrid lidera nuestro equipo como administradora,
          asegurando que todo funcione sin problemas. Raúl y Maxi se encargan de
          mantener nuestra base de datos actualizada, mientras que Martín se
          enfoca en liderar al equipo de atención al público para brindar una
          atención al cliente excepcional. Conrado es nuestro especialista en
          redes sociales y siempre está compartiendo información interesante y
          divertida sobre nuestros amigos peludos. Juntos, estamos comprometidos
          en hacer que la vida de tus mascotas sea lo más feliz y saludable
          posible. ¡Ven a visitarnos y conoce al equipo de Animalada hoy mismo!
        </p>
      </aside>
    </div>
    <footer>
      Copyright 2023 - Animalada - Diseñado por Grupo 40 – Jujuy – República
      Argentina
    </footer>
  </body>
</html>
