<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#DC3C4D" />
  <!--  icon  -->
  <link rel="icon" th:href="@{/images/icon.svg}" />
  <!--  fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <!--  styles  -->
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <title>Nuevo Consejo</title>
</head>

<body>
  <header th:replace="~{layouts/header :: header}"></header>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <div class="card mt-4">
          <div class="card-body">
            <div class="container">
              <img th:src="@{/images/advice.png}" alt="icono nuevo consejo" class="mx-auto d-block" />
            </div>
            <h1 th:text="${edicion}?'Editar consejo' : 'Nuevo consejo'"
              class="display-6 text-center mt-4 mb-5 product__Title">
            </h1>

            <!-- Formulario de ingreso de datos del nuevo consejo -->
            <form th:object="${consejo}" th:action="${edicion}?@{/consejo/modificar}:@{/consejo/guardar}"
              autocomplete="off" method="post">
              <div class="form-group">
                <label class="form-label" for="codigo">Código:</label>
                <input type="text" class="form-control mb-2" th:field="*{codigo}" id="codigo" name="consejo_codigo"
                  placeholder="Ingrese el id de la consejo" />
                </div>
              <div class="form-group">
                <label class="form-label" for="titulo">Titulo:</label>
                <input type="text" class="form-control mb-2" th:field="*{titulo}" id="titulo" name="consejo_titulo"
                  placeholder="Ingrese el titulo de la consejo" />
              </div>
              <div class="form-group">
                <label class="form-label" for="direccion">Autor:</label>
                <input type="text" class="form-control mb-2" th:field="*{autor}" id="autor"
                  name="consejo_autor" placeholder="Ingrese el autor del consejo" />
              </div>
              <div class="form-group">
                <label class="form-label" for="fecha">Fecha de publicación:</label>
                <input type="date" class="form-control mb-2" th:field="*{fecha}"
                th:value="*{#dates.format(fecha, 'yyyy-MM-dd')}" id="fecha"
                  name="fecha" placeholder="Ingrese la fecha de publicación del consejo" />
              </div>

              <div class="form-group">
                <label class="form-label" for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
                  placeholder="Ingrese la descripción del consejo"></textarea>
              </div>
              
              <div class="text-center mt-4">                  
                <button class="btn btn-primary mx-2" type="submit">
                  Guardar
                </button>
                <button class="btn btn-secondary mx-2" type="button">
                  <a th:href="@{/consejo/listado}" class="text-decoration-none text-reset">Cancelar</a>
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <footer th:replace="~{layouts/footer :: footer}"></footer>

  <!--  Configuración para usar Bootstrap  -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>