<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#DC3C4D" />
  <!--  icon  -->
  <link rel="icon" th:href="@{/images/icon.svg}" />
  <!--  fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <!--  styles  -->
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <title>Productos</title>
</head>

<body>
  <header th:replace="~{layouts/header :: header}"></header>
  <div class="container mt-4 card">
    <div class="row">
      <div class="col-md-12">
        <div class="container mt-4 mb-1  ">
          <img th:src="@{/images/new_product.png}" alt="icono nueva sucursal" class="mx-auto d-block" />
        </div>
        <h2 class="text-center product__Title display-6 mt-1 mb-4">Lista de Productos</h2>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Precio($)</th>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prod : ${productos}">
                <td th:text="${prod.nombre}"></td>
                <td th:text="${prod.codigo}"></td>
                <td th:text="${prod.precio}"></td>
                <td th:text="${prod.categoria}"></td>
                <td th:text="${prod.descripcion}"></td>
                <td>
                  <div class="d-flex justify-content-center">
                    <a th:href="@{/producto/modificar/}+${prod.nombre}" class="btn btn-primary me-2">EDITAR</a>
                    <a th:href="@{/producto/eliminar/}+${prod.nombre}" class="btn btn-danger">ELIMINAR</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="aboutus__title mt-4">
      <h2 class="text-center product__Title display-6 mb-5">Nuevo Producto</h2>
      <div class="text-center">
        <a th:href="@{/producto/nuevo}" class="btn btn-primary">AGREGAR ➝</a>
      </div>
    </div>
  </div>

  <footer th:replace="~{layouts/footer :: footer}"></footer>
  <!--  Configuración para usar Bootstrap  -->
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>