<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Servicio de paseos</title>
</head>

<body>
	<h1>Servicios de paseos de mascotas</h1>
	<p>Ofrecemos un servicio de paseos de mascotas para dueños que no tienen tiempo para sacar a pasear a sus perros o gatos. Nuestro equipo de paseadores profesionales garantiza que su mascota recibirá el ejercicio y la atención que necesita mientras usted se concentra en sus responsabilidades diarias
		Nuestro equipo conformado por Benito, Nahuel, Cesar y Romina. Mantendran a sus peludos amigos bien ejercitados, confie en nosotros ¡reserve su turno hoy!
		Nuestros amplios horarios se ajustarán a sus necesidades</p>
	<table border="1">
	<tr>
	  <th>Día</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sabado</th>
    </tr>
    <tr>
      
      <td>Horario</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12</td>
    </tr>
    <tr>
      <td>Paseador</td>
      <td>Benito</td>
      <td>Romina</td>
      <td>Cesar</td>
      <td>Benito</td>
      <td>Nahuel</td>
      <td>Romina</td>
    </tr>
	</table>
	<h3>Nuestros paseadores</h3>
	<table>
  <tr>
    <td><img src="../templates/static/images/benito.JPG" alt="Benito" width="200" height="150"></td>
    <td>
      <h3>Benito</h3>
      <p>Apasionado por la naturaleza y los animales, Benito es una persona muy amigable y carismática. Le encanta pasear y jugar con perros de todas las edades y tamaños. Su dedicación y atención a los detalles lo convierten en un excelente cuidador de mascotas.</p>
    </td>
  </tr>
  <tr>
    <td><img src="../templates/static/images/romina.JPG" alt="Romina" width="200" height="150"></td>
    <td>
      <h3>Romina</h3>
      <p>Siempre ha sido una amante de los animales, y ha trabajado como voluntaria en refugios de animales durante muchos años. Romina tiene un enfoque cariñoso y paciente con los perros, lo que hace que se sientan cómodos y seguros. Le gusta mucho caminar y es muy comprometida con el bienestar de las mascotas.</p>
    </td>
  </tr>
  <tr>
    <td><img src="../templates/static/images/cesar.JPG" alt="Cesar" width="200" height="150"></td>
    <td>
      <h3>Cesar</h3>
      <p>Con experiencia en el entrenamiento de perros, Cesar sabe cómo cuidar y educar a las mascotas de manera adecuada. Es una persona confiable y responsable, y siempre está dispuesto a adaptarse a las necesidades y preferencias de cada perro.</p>
    </td>
  </tr>
  <tr>
    <td><img src="../templates/static/images/nahuel.JPG" alt="Nahuel" width="200" height="150"></td>
    <td>
      <h3>Nahuel</h3>
      <p>Amante de los deportes y la vida activa, Nahuel es el compañero ideal para pasear perros en la ciudad o en áreas rurales. Su energía y entusiasmo contagian a los perros, y es un experto en hacer que se diviertan mientras reciben el ejercicio que necesitan.</p>
    </td>
  </tr>
	</table>
	
</body>

</html>
