<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Servicio de paseos</title>
</head>

<body>
	<h1>Servicios de paseos de mascotas</h1>
	<p>Ofrecemos un servicio de paseos de mascotas para dueños que no tienen tiempo para sacar a pasear a sus perros o gatos. Nuestro equipo de paseadores profesionales garantiza que su mascota recibirá el ejercicio y la atención que necesita mientras usted se concentra en sus responsabilidades diarias</p>
	<p>Nuestro equipo conformado por Benito, Nahuel, Cesar y Romina. Mantendran a sus peludos amigos bien ejercitados, confie en nosotros ¡reserve su turno hoy!</p>
	<p>Nuestros amplios horarios se ajustarán a sus necesidades</p>
	<table border="1">
	<tr>
	  <th>Día</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sabado</th>
    </tr>
    <tr>
      
      <td>Horario</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12 - 16 a 18</td>
      <td>9 a 12</td>
    </tr>
    <tr>
      <td>Paseador</td>
      <td>Benito</td>
      <td>Romina</td>
      <td>Cesar</td>
      <td>Benito</td>
      <td>Nahuel</td>
      <td>Romina</td>
    </tr>
	</table>
</body>

</html>