<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#DC3C4D" />
  <!--  icon  -->
  <link rel="icon" href="static/images/icon.svg" />
  <!--  fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <!--  styles  -->
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
  <title>Nuestras Sucursales</title>
</head>

<body>
  <header th:replace="layouts/header :: header"></header>
  <div class="container sucursales__container">
    <h1 class="text-center">¡¡Nuestras sucursales!!</h1>
    <h2>
      Tenemos Sucursales en casi toda la provincia, atendidos con la mejor
      onda, y por los que mas saben sobre nuestros amigos peludos. Tenemos un
      total de 5 sucursales generales
    </h2>
    </div>
    <div class="sucursal__info">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">PALPALÁ</h2>
        <p>
          Nos podes encontrar en Palpalá, en zona céntrica y muy concurrida, con horarios de corrido de 8:00 a 22:30hs.
          Ubicación: Barrio General Savio, Calle: Avellaneda N°753.
          Podés comunicarte por WhatsApp y llamada telefónica con el numero:
        </p>
        <h4 class="text-center">3884453232.</h4>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">PERICO</h2>
        <p>
          También podes encontrarnos en Perico zona cerca de la terminal, muy céntrica, muy concurrida, y a solo metros
          de la gran feria de Perico. En horarios de 8:30hs a 15:00hs, y de 17:30 a 21:30 hs.
          Ubicación: Barrio San Cayetano, Calle: Cochinoca N°302.
          Podés comunicarte por WhatsApp y llamada telefónica con el numero:
        </p>
        <h4 class="text-center">3882423103.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">SAN PEDRO</h2>
        <p>
          Además en zona céntrica de San Pedro de Jujuy podes concurrir, a solo dos cuadras de la plaza principal
          General Manuel Belgrano. de horas 9:00 a 21:00 (de corrido).
          Ubicación: Barrio Ejercito, Calle: Tucuman N°396.
          Podés comunicarte por WhatsApp y llamada telefónica con el numero:
        </p>
        <h4 class="text-center">3889232022.</h4>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">SAN SALVADOR DE JUJUY</h2>
        <p>
          Por San salvador y nuestra sede principal, podes encontrarnos, en zona céntrica, muy buena ubicación.
          Ubicación: Barrio Centro, Calle: Canónigo Gorriti N°343.
          Además podés comunicarte por WhatsApp y llamada telefónica con el numero:
        </p>
        <h4 class="text-center">3874064403.</h4>
      </div>
      </div>
    </div>
  <footer th:replace="layouts/footer :: footer"></footer>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>