<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{~/static/css/estilos.css}" />
</head>

<body>
  <header th:fragment="header" class="header__container">
    <nav class="menu">
      <ul>
        <li><a th:href="@{index}">INICIO</a></li>
        <li><a th:href="@{productos}">PRODUCTOS</a></li>
        <li><a th:href="@{consejos}">CONSEJOS DE SALUD</a></li>
        <li><a th:href="@{servicio}">SERVICIOS DE PASEOS</a></li>
        <li><a th:href="@{sucursales}">SUCURSALES</a></li>
        <li><a th:href="@{contactanos}">CONTACTO</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>