*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

::selection {
  background-color: #F8C000;
  color: #004A98;
}

.hidden {
  display: none;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Lexend Deca", sans-serif;
}

.header__container {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  background-color: #DC3C4D;
}

.menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-right: 3rem;
  margin-left: 3rem;
}

.menu li {
  font-size: 1rem;
}

.menu li:hover a {
  color: #FFFFFF;
}

.menu a {
  color: #F8C000;
  text-decoration: none;
}

footer {
  position: relative;
  width: 75%;
  padding: 1rem;
  margin: auto;
  background-color: #FFFFFF;
  position: relative;
  display: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  color: #222326;
  font-family: "Lexend Deca", sans-serif;
}

.topContainers {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: center;
}

.tittle__container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
  margin-top: 7rem;
  margin-right: 3rem;
}

.tittle__container img {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
}

.tittle__container h1 {
  font-family: "Lexend Deca", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 5rem;
  line-height: 2rem;
}

.heading__container h2 {
  padding-top: 2rem;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

.button__product {
  width: 50%;
  height: 48px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #DC3C4D;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 24px;
}

.welcome__container {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  background-color: #DC3C4D;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text__container {
  padding: 3rem;
  width: 50%;
}

.text__container h2 {
  color: #F8C000;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
}

.text__container h3 {
  color: #F8C000;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
  letter-spacing: 0px;
}

.text__container p {
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
}

.img__cat {
  padding: 3rem;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img__cat img {
  height: 700px;
  width: 700px;
}

.aboutus__container {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutus__title {
  padding: 3rem;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.aboutus__title h1 {
  color: #F4592F;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.button__contact {
  width: 50%;
  height: 48px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #004A98;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 24px;
}

aside {
  padding: 3rem;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

aside h3 {
  color: #F4592F;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

aside p {
  color: #000000;
  letter-spacing: 0px;
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
}

.sucursales__container {
  width: 100%;
  height: 150vh;
  background-image: url("../images/gato.png");
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sucursales__container h1 {
  color: #DC3C4D;
  text-align: center;
  margin: 1rem auto 1rem auto;
}
.sucursales__container h2 {
  color: #37383c;
  text-align: center;
  width: 50%;
  margin: 1rem auto 1rem auto;
}

.sucursal__info {
  width: 100%;
  height: auto;
  background-color: #DC3C4D;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sucursal__info h2 {
  color: #F8C000;
  text-align: justify;
  margin: 1rem auto 1rem auto;
}
.sucursal__info h4 {
  color: #FFFFFF;
  text-align: justify;
  margin: 0 auto 1rem auto;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}
.sucursal__info p {
  color: #FFFFFF;
  line-height: 2rem;
  text-align: justify;
  width: 50%;
  margin: 1rem auto 1rem auto;
}

.service__container {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textService__container {
  position: relative;
  padding: 3rem;
  width: 50%;
}

.textService__container h1 {
  color: #F4592F;
  font-weight: 700;
  font-size: 3rem;
  text-align: left;
  line-height: 5rem;
  letter-spacing: 0px;
}

.textService__container p {
  color: #000000;
  letter-spacing: 0px;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
}

.img__dog {
  padding: 3rem;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img__dog img {
  height: 500px;
  width: 500px;
}

.horario__container {
  margin: auto;
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: .horario__container white;
  position: relative;
  display: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.horario__container table {
  width: 85%;
  height: 100px;
  margin: auto;
  border-collapse: collapse;
  background-color: #F8C000;
  border: 1px solid #000000;
}
.horario__container table th {
  background-color: #F4592F;
}
.horario__container table th, .horario__container table td {
  align-text: center;
  align-self: center;
  border: 1px solid #000000;
}

.paseadores__container {
  padding: 6rem;
}
.paseadores__container h3 {
  color: #004A98;
}
.paseadores__container p {
  line-height: 2rem;
}

.paseadores__container img {
  border-radius: 1000px;
  height: 150px;
  width: 150px;
}

.tips__container {
  position: relative;
  width: 75%;
  padding: 1rem;
  margin: auto;
  background-color: #FFFFFF;
  position: relative;
  display: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.textTips__container {
  width: 75%;
  margin: auto;
  text-align: center;
  line-height: 2rem;
}

.textTips__container img {
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  padding: 1rem;
}

.textTips__container h1 {
  color: #F4592F;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

.textTips__container h2 {
  color: #222326;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  width: 75%;
  margin: auto;
}

.textTips__container h3 {
  color: #004A98;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: justify;
  line-height: rem;
  letter-spacing: 0px;
  line-height: 3rem;
  padding: 0.5rem;
}

.textTips__container p {
  color: #222326;
  line-height: 3rem;
  font-size: 1rem;
  text-align: justify;
  padding: 0.5rem;
}

.products__container {
  position: relative;
  width: 60%;
  padding: 1rem;
  margin: auto;
  background-color: #FFFFFF;
  position: relative;
  display: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productsDog__img {
  width: 75%;
  margin: auto;
  text-align: center;
  line-height: 2rem;
}

.productsDog__img img {
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  padding: 1rem;
}

.products__container h1 {
  color: #F4592F;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

.products__container h2 {
  color: #222326;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  width: 75%;
  margin: auto;
}

.products__container h3 {
  color: #004A98;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: justify;
  line-height: rem;
  letter-spacing: 0px;
  line-height: 3rem;
  padding: 0.5rem;
}

.products__container p {
  color: #222326;
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
  padding: 0.5rem;
}

.products__container h6 {
  color: #222326;
  font-family: "DM Sans", sans-serif;
  text-align: justify;
  padding: 0.5rem;
}

.contact__container {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img__contact {
  width: 50%;
  position: relative;
}

.img__contact img {
  width: 100%;
}

.form__contact {
  padding: 2rem;
  width: 50%;
}

.form__contact h1 {
  color: #004A98;
}

.form__contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__contact label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.form__contact input,
.form__contact textarea {
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form__contact input:focus,
.form__contact textarea:focus {
  outline: none;
  border-color: #DC3C4D;
}

.form__contact textarea {
  height: 150px;
}
